*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans , sans-serif';
}
body{
  height: 100vh;
  background-color: #000;
  background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80);
  background-size: cover;
  background-position: center;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
a:hover{
  color: orange ;
}
header{
  position: relative;
  padding: 0.2rem;
}
.navbar{
  width: 100%;
  height: 60px; 
  max-width: 1200px;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a{
  font-size: 1.5rem;font-weight: bold;
}
.navbar .links{
  display: flex;
  gap: 20px;
}
.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar .action_btn{
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;border-radius: 20px;
  font-size: 0.8rem;font-weight: bold;
  cursor: pointer;
}
.action_btn:hover{
  scale: 1.05;
  color: #fff;
}
.action_btn:active{
  scale: 0.95;
}
.dropdown-menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  height: 0;
  backdrop-filter: blur(15px);
  overflow: hidden;border-radius: 10px;
}
.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu .action_btn{
  width: 100%;
  text-align: center;
}
.dropdown-menu.open{
  height: 240px;
}
/* responsive */
@media (max-width: 992px){
  .navbar .links,.navbar .action_btn{
    display: none;
  }
  .dropdown-menu .action_btn{
    display: block;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown-menu{
    display: block;
  }
}